<!DOCTYPE html>
<html>
    <style>
        #map {
            height: 60%;
        }
        html, body {
            height: 100%;
            margin: 2%;
        }
        a[href^="http://maps.google.com/maps"] {
            display:none !important
        }
        a[href^="https://maps.google.com/maps"] {
            display:none !important
        }
        .gmnoprint a, .gmnoprint span, .gm-style-cc {
            display:none;
        }
        .gmnoprint div {
            background:none !important;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var map;
        var currLocation;
        var currClue;

        var currPin;
        var prevPins = [];

        function LocationControl(controlDiv, map) {
            const controlUI = document.createElement("div");

            controlUI.style.backgroundColor = "#fff";
            controlUI.style.border = "2px solid #fff";
            controlUI.style.borderRadius = "3px";
            controlUI.style.boxShadow = "0 2px 6px rgba(0,0,0,.3)";
            controlUI.style.cursor = "pointer";
            controlUI.style.marginTop = "5px";
            controlUI.style.marginBottom = "10px";
            controlUI.style.textAlign = "center";
            controlUI.title = "Click to get your location";
            controlDiv.appendChild(controlUI);

            const controlText = document.createElement("div");

            controlText.style.color = "rgb(25,25,25)";
            controlText.style.fontFamily = "Roboto,Arial,sans-serif";
            controlText.style.fontSize = "8px";
            controlText.style.lineHeight = "12px";
            controlText.style.paddingLeft = "5px";
            controlText.style.paddingRight = "5px";
            controlText.innerHTML = "Get Current Location";
            controlUI.appendChild(controlText);
            controlUI.addEventListener("click", () => {
                getLocation();
            });
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 47.605692, lng: -121.982297 },
                zoom: 14.8,
                disableDefaultUI: true
            });
            getLocation();

            const locationControlDiv = document.createElement("div");
            LocationControl(locationControlDiv, map);
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(locationControlDiv);
        }

        function navError(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        }

        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(drawCurrLocation, navError, options);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function drawCurrLocation(position) {
            if (typeof currLocation !== 'undefined') {
                currLocation.setMap(null);
            }
            var location = {
                lat: position.coords.latitude,
                lng: position.coords.longitude
            }
            console.log(location);
            currLocation = new google.maps.Circle({
                strokeColor: "#0000FF",
                strokeOpacity: 1,
                strokeWeight: 2,
                fillColor: "#0000FF",
                fillOpacity: 1,
                map,
                center: location,
                radius: 7
            });
            console.log(currLocation)
        }

        function dropCluePins(curr, prev) {
            if (typeof currPin !== 'undefined') {
                currPin.setMap(null);
            }
            prevPins.forEach(pin => pin.setMap(null));
            for(let i = 0; i < prev['positions'].length; i++) {
                var pclue = prev['clues'][i];
                var prevPin = new google.maps.Marker({
                    position: prev['positions'][i],
                    title: prev['clues'][i],
                    icon: 'green_Marker' + pclue.charAt(0); + '.png'
                });
                prevPins.push(prevPin);
            }
            var cclue = curr['clue'];
            var cpos = curr['position'];
            currPin = new google.maps.Marker({
                position: cpos,
                title: cclue,
                icon: '/img/green_Marker' + cclue.charAt(0); + '.png'
            });
            map.setCenter(cpos);
        }

        function refresh() {
            $.ajax({
                url: '/api/teaminfo',
                type: 'GET',
                data: {
                    teamId: '{{teamId}}'
                },
                success: function(response) {
                    console.log(response);
                    var curr = response['currClue'];
                    var uncovered = response['uncoveredClues'];
                    currClue = curr['clue'];
                    document.getElementById("teamNameText").innerHTML = response['teamName'];
                    document.getElementById("teamMembersText").innerHTML = response['teamMembers'];
                    document.getElementById("currClueText").innerHTML = "Clue " + currClue + ":";
                    document.getElementById("cluesUncoveredText").innerHTML = "Clues uncovered: " + uncovered['clues'].join(', ')
                    dropCluePins(curr, uncovered);
                },
                error: function(e) {
                    alert('Error :( try again');
                }
            });
        }

        refresh();
    </script>
  <body>
    <h3 id=teamNameText>Team</h3>
    <h5 id=teamMembersText style="color:gray;">Team Members</h5>
    <p style="margin-bottom:0.5cm;"></p>
    <div id="map"></div>
    <p style="margin-bottom:0.5cm;"></p>
    <h6 id=currClueText>Clue X:</h6>
    <input type="text" id="answerText" name="teamId">
    <input type="button" id="submitButton" value="Submit" class="button">
    <p style="margin-bottom:0.5cm;"></p>
    <p id=cluesUncoveredText>Clues uncovered:</p>
    <script>
        $("#submitButton").on('click', function(e) {
            console.log('click');
            var answer = document.getElementById('answerText').value;
            $.ajax({
                url: '/api/checkanswer',
                type: 'GET',
                data: {
                    teamId: '{{teamId}}',
                    clue: currClue,
                    answer: answer
                },
                success: function(response) {
                    console.log(response);
                    if (response == 'stale') {
                        alert("Your team has moved on to another clue. Refresh the page.");
                    } else if (response == 'correct') {
                        alert("That's the correct answer! Good job!");
                        if (currClue == 'Final')
                            alert("Congratulations! You won the game!");
                        refresh();
                    } else if (response == 'incorrect') {
                        alert("That's incorrect! Try again!");
                    } else {
                        alert("Something went wrong! Try refreshing");
                    }
                },
                error: function(e) {
                    alert('Error :( try again');
                }
            });
        });
    </script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbtbKtNrXH2I5SfFq2lQtqfJxxed4Ume0&callback=initMap&v=weekly&channel=2"
      async
    ></script>
  </body>
</html>
