<div class="container">
 <h1>Welcome!</h1>
 <p style="margin-bottom:0.5cm;">
 <form id="teamform" action="/hunt" method="POST">
    <p>Enter your team ID:</p>
    <input type="text" id="teamId" name="teamId" onkeyup="this.value = this.value.toUpperCase()" maxlength="4">
    <input type="button" id="enterButton" value="Enter" class="button">
    <p style="margin-bottom:1cm;">
    <p id="nameText" style="visibility: hidden">Name your team:</p>
    <input type="text" id="teamName" value="" name="teamName" style="visibility: hidden">
    <input type="button" id="nameButton" value="Name" class="button" style="visibility: hidden">
 </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#enterButton").on('click', function(e) {
        var teamId = document.getElementById('teamId').value;
        if (teamId == '') {
            alert('Please enter your Team ID');
        } else if (teamId.length != 4) {
            alert('Team ID must be of length 4');
        } else {
            $.ajax({
                url: '/api/validateteamid',
                type: 'GET',
                data: {
                    teamId: teamId
                },
                success: function(response) {
                    if (response == 'named') {
                        $("#teamform").submit();
                    } else if (response == 'unnamed') {
                        document.getElementById("nameText").style.visibility = 'visible';
                        document.getElementById("teamName").style.visibility = 'visible';
                        document.getElementById("nameButton").style.visibility = 'visible';
                        document.getElementById("enterButton").style.visibility = 'hidden';
                        $("#teamId").css('font-weight','bold');
                        $("#teamId").attr("readonly", true);
                    } else {
                        alert('Team ID is invalid');
                    }
                },
                error: function(e) {
                    alert('Error :( try again');
                }
            });
        }
    });

    $("#nameButton").on('click', function(e) {
        if (teamName == '') {
            alert('Please name your team');
        } else {
            document.getElementById("teamName").value = document.getElementById("teamName").value.replace(`'`, '');
            $("#teamform").submit();
        }
    });
</script>
